@import "tailwindcss";

@theme {
  --font-sans: var(--font-manrope);
  --font-serif: var(--font-cormorant);
  --font-manrope: var(--font-manrope);
  --font-cormorant: var(--font-cormorant);
  
  --color-sand: #EFECE6;
  --color-charcoal: #2C302E;
}

@layer utilities {
  .glass-panel {
    @apply bg-sand/40 backdrop-blur-md border border-charcoal/10;
  }
  
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  overflow-x: hidden;
  background-color: var(--color-sand);
  color: var(--color-charcoal);
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
